[package]
name = "locator"
version = "2.2.0"
edition = "2021"

[dependencies]
alphanumeric-sort = "1.5.3"
getset = "0.1.2"
pretty_assertions = "1.4.0"
serde = { version = "1.0.140", features = ["derive"] }
strum = { version = "0.24.1", features = ["derive"] }
thiserror = "1.0.31"
utoipa = "4.2.3"
serde_json = "1.0.95"
documented = "0.4.1"
semver = "1.0.23"
bon = "2.3.0"
duplicate = "2.0.0"
lazy-regex = { version = "3.3.0", features = ["regex"] }

[dev-dependencies]
assert_matches = "1.5.0"
impls = "1.0.3"
itertools = "0.10.5"
proptest = "1.0.0"
static_assertions = "1.1.0"
